body {
  background-color: #fffff;
  margin:0;
}

.text-center{
  text-align: center;
}

.wrapper{
  width: full;
  margin: auto;
}

.header-color{
  background-color: aqua;
}
  
p{
  font-family: Arial;
  color: slategrey;
  font-size: 14px;
}

header div,
footer div,{
  background-color: aqua;
  width: full;
  text-align: center;
  padding: 25px 10px 25px 10px;
  font-family: Arial;
}

header div h1{
  font-size: 30px;
  color: black;
}

main div section h2{
  font-size: 20px;
  color: black;
  font-family: inherit;
}

h2 h3{
  font-size: 16px;
}

header div h1 nav{
  text-align: center;
  font-size: 50px;
  font-family: fancy;
}

  

  
  
  
