body{
  margin: 0px;
}
.text-center{
  text-align: center;
}
/* trying the wrapper */
.wrapper{
  max-width: 800px;
  padding: 10px;
}
/* header design is this one */
.header-main{
  background-color: lightgrey;
  margin: 20px;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid black;
  border-radius: 25px;
}
  nav{
    font-size: 24px;
    f
  
}
/* trying to get the image to display in the middle of the page correctly */ 
.img-display{
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border: 5px solid black;
  shadow: 2px black;
  margin-top: 15px;
  border-radius: 25px;
}
/* all text in the paragraph sections*/
 div, ul, li, p{
  font-family: Arial;
  color: black;
  font-size: 18px;
}
ul{
  text-align: inherit;
  list-style-position: inside;
}
footer{
  background-color: lightgrey;
  margin: 20px;
  padding: 20px;
  shadow-bottom: 1px black;
  text-align: center;
  font-style: bold;
  font-color: black;
  font-size: 20px;
}
  
.section-format{
  border:none;
  background-color: lightblue;
  padding: 10 10 10 10;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  content-align: middle;
  border-radius: 25px;
  max-width: 800px;
}

  
h1{
  font-size: 40px;
  font-family: arial;
  color: black;
  text-align: center;
}
h2{
  font-size: 30px;
  font-family: arial;
  color: black;
  text-align: center;
}
h3{
  font-size: 20px;
  text-decoration: underline;
}
/* button for seeing other website*/
.button{
  background-color: #ffff57;
  border: none;
  color: black;
  text-decoration:bold;
  padding: 5px;
  font-size: 20px;
  text-align: center;
  display: inline-block;
  margin: 15 15 15 15;
}

  
